* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "sans-serif";
}

.header, .main, .footer {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__title {
    font-size: 24px;
    font-weight: bold;
}

.header__subtitle {
    font-size: 18px;
}

.memes-list {
    list-style: none;
    cursor: pointer;
}

.memes-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #333333;
}

.memes-list__item:active > .memes-list__label > .memes-list__item-heading > .memes-list__item-title {
    color: #616161;
}

.memes-list__radio {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
}

.memes-list__radio:checked + .memes-list__label > .memes-list__img {
    width: 100%;
    transform: scale(1);
}

.memes-list__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.memes-list__item-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.memes-list__item-title {
    font-size: 14px;
    color: #616161;
}

.memes-list__radio:checked + .memes-list__label > .memes-list__item-heading > .memes-list__item-title {
    color: #000000;
}

.memes-list__item-icon {
    display: none;
    width: 15px;
    height: 15px;
    background: url("../img/plus.svg") center no-repeat;
    background-size: contain;
}

.memes-list__radio:checked + .memes-list__label > .memes-list__item-heading > .memes-list__item-icon {
    background: url("../img/cross.svg") center no-repeat;
    background-size: contain;
}

.memes-list__img {
    width: 0;
    transform: scale(0);
}

.footer__link {
    text-decoration: none;
    color: #000000;
    transition: color 0.2s ease-in;
}

.footer__link-icon {
    height: 30px;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}